# On Ubuntu, install the following packages:
# - python3
# - python3-venv
#
# And then the virtual environment can be created by running:
#
# python3 -m venv .venv
# .venv/bin/pip install --upgrade pip
# .venv/bin/pip install -r requirements.txt
#
# Then use .venv/bin/python to run the various training scripts.

blosc>=1.8.1,<2
diskcache==4.1.0
h5py
jupyter
matplotlib~=3.4.2
numpy~=1.19.5
Pillow~=8.2.0
scikit-image>=0.15.0
scipy~=1.6.3
SimpleITK~=2.0.2
tensorflow
imageio

# The book was written targeting PyTorch 1.4, but everything in it should work fine with more up-to-date versions.
torch

# future is here due to a missing dep in caffe2
# future

requests~=2.25.1